/*Background color of the web page*/
body {
    background-color: rgba(138, 94, 117, 0.884);
}

/* Header */
h1 {
    font-size: 50px;
    font-family: fantasy;
    color:rgb(255, 255, 255);
    margin-left: 300px;
    margin-top: 140px;
}

/* Choose your range phrase */
p {
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(245, 236, 236, 0.918);
    margin-left: 595px;
    margin-top: 60px;
}

/* Buttons */
.button {
    background-color: rgba(248, 239, 239, 0.918);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    color: rgb(109, 96, 184);
    margin: 0px 50px;
    padding: 5px 25px;
    outline: none !important;
}

.button:hover {
    background-color: rgb(231, 205, 226);
}

/* Shadow under the button */
.selected {
    box-shadow: 0 0 10px 5px hsl(249, 37%, 38%);
}

/* To center the buttons */
.centering { text-align: center; width: 100%; }

/* Text field for user's input */
input[type=number], select {
    width: 14%;
    padding: 35px;
    margin: 9px 0;
    border: 1px solid #ccc;
    border-radius: 18px;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    margin-left: 605px;
    outline:none;
    color: rgba(90, 43, 67, 0.884);
}

/* Placeholder, hint for user's input */
::placeholder { 
    color: rgb(165, 163, 163);
    opacity: 1;
    font-size: 12px;
}
  
/* Submit button */
  .submit {
    width: 9%;
    background-color: rgba(90, 43, 67, 0.884);
    color: white;
    padding: 14px 15px;
    margin: 6px 0;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    margin-left: 640px;
    outline:none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  }
  
  .submit:hover {
    background-color: rgb(109, 61, 99);
  }
  