body {
    background-color: rgba(144, 99, 123, 0.884);
}

h1 {
    font-size: 55px;
    font-family: fantasy;
    color:rgb(255, 255, 255);
    margin-top: 140px;
    text-align: center;
}

p {
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(245, 236, 236, 0.918);
    margin-top: 60px;
    text-align: center;
}

.button {
    background-color: rgba(251, 247, 247, 0.918);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    color: rgba(85, 33, 60, 0.884);
    margin: 0px 50px;
    padding: 5px 25px;
    outline: none !important;
}

.button:hover {
    background-color: rgb(231, 205, 226);
}

.selected {
    box-shadow: 0 0 10px 5px hsl(249, 37%, 38%);
}

.centering { text-align: center; width: 100%; }

input[type=number], select {
    width: 11%;
    padding: 25px;
    margin: 9px 0;
    border: 1px solid #ccc;
    border-radius: 29px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 1em;
    font-size: 20px;
    outline:none;
    color: rgba(90, 43, 67, 0.884);
}

  ::placeholder { 
    color: rgb(165, 163, 163);
    opacity: 1;
    font-size: 12px;
  }
  
  .submit {
    width: 8%;
    background-color: rgba(85, 33, 60, 0.884);
    color: white;
    padding: 14px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    outline:none !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.472);
  }
  
  .submit:hover {
    background-color: rgba(71, 26, 49, 0.884);
  }
  